<div class="filter-container">
    <mat-form-field class="filter-form-field">
        <input matInput placeholder="Filter list" [(ngModel)]="filterValue" (keyup)="updateFiltering(filterValue)">
        <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="updateFiltering('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-fab color="primary" (click)="selected(null)">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-card>
    <ng-container *ngIf="filteredList$ | async as filteredList">
        <mat-nav-list>
            <a mat-list-item *ngFor="let songChord of filteredList" (click)="selected(songChord)">
                <mat-icon matListIcon>music_note</mat-icon>
                <h3 matLine> {{songChord.artist.name }} </h3>
                <p matLine>
                    <span> {{songChord.songName}} </span>
                </p>
            </a>
        </mat-nav-list>
    </ng-container>
</mat-card>