<footer>
    <div class="footer-container">
        <div>
            <span>©Joacim Olofsson 2018</span>
        </div>
        <div>
            <mat-icon>music_video</mat-icon>
        </div>
    </div>
</footer>