.tab-container {
    position: relative;
}

.tab-main-container {
    display: flex;
    flex-direction: row;
}

.edit-container {
    flex: 1;
    margin-right: 18px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.show-container {
    flex: 1;
}

.form-field {
    width: 100%;
}

div.songchord dl {
    font-family: "Roboto";
    font-size: 1.1em;
    border-radius: 10px
}

div.songchord dl dt {
    background: #CAEBF2;
    color: black;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #a9a9a9
}

dd {
    display: table
}

/deep/ dd pre {
    line-height: 2em;
    display: table-cell;
    float: left;
    overflow: hidden;
    vertical-align: middle;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background: #eee;
}

/deep/ dd pre span.chord {
    color: #FF3B3F;
    position: absolute;
    margin-top: -1em
}

dd.jtab1 {
    display: table
}

dd.jtab1 pre {
    display: table-cell;
    float: left;
    overflow: hidden;
    vertical-align: middle;
    line-height: 20px
}

dd.jtab1 pre span.chord {
    color: rgba(255, 0, 100, 0.6);
    position: absolute;
    font-weight: 900;
    font-size: 1.7em;
    margin: 0
}