<div class="tab-main-container">
    <ng-container *ngIf="optionsObservable$ | async as options">
        <ng-container *ngIf="editForm && editMode">
            <div class="edit-container">
                <mat-card>
                    <mat-card-title>Edit</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                            <mat-form-field class="form-field">
                                <mat-select placeholder="Artist" formControlName="artist" (selectionChange)="updateTab()">
                                    <mat-option *ngFor="let artistKey of Object.keys(options.artist)" [value]="options.artist[artistKey]">
                                        {{options.artist[artistKey].name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="form-field">
                                <input matInput placeholder="Song name" (keyup)="updateTab()" formControlName="songName">
                            </mat-form-field>
                            <mat-form-field class="form-field">
                                <mat-select placeholder="Tags" multiple formControlName="tags" (selectionChange)="updateTab()">
                                    <mat-option *ngFor="let tagKey of Object.keys(options.tag)" [value]="options.tag[tagKey]">{{options.tag[tagKey].name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="form-field">
                                <mat-select class="form-field" placeholder="Genre" formControlName="genre" (selectionChange)="updateTab()">
                                    <mat-option *ngFor="let genreKey of Object.keys(options.genre)" [value]="options.genre[genreKey]">
                                        {{options.genre[genreKey].name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-checkbox class="example-margin" formControlName="published" (change)="updateTab()">Published</mat-checkbox>
                            <mat-form-field class="form-field">
                                <textarea matInput rows="20" (keyup)="updateTab()" placeholder="Enter song" formControlName="songData"></textarea>
                            </mat-form-field>
                        </form>
                    </mat-card-content>
                    <button mat-button color="primary" (click)="save()">Save</button>
                </mat-card>
            </div>
        </ng-container>
    </ng-container>
    <div class="show-container">
        <mat-card>
            <ng-container *ngIf="songObservable$ | async as songChord">
                <mat-card-title-group>
                    <mat-card-title>{{songChord.songName ? songChord.songName : 'Untitled'}}</mat-card-title>
                    <mat-card-subtitle>{{songChord.artist ? songChord.artist.name : '-'}}</mat-card-subtitle>
                    <div class="button-container">
                        <button mat-fab>
                            <mat-icon (click)="back()">arrow_back_ios</mat-icon>
                        </button>
                        <button *ngIf="!editMode" mat-button color="primary" (click)="editMode=true">Edit</button>
                    </div>
                </mat-card-title-group>
                <mat-card-content>

                    <div class="songchord">
                        <dl>
                            <dd>
                                <div class="tab-container" [innerHtml]="tabHtmlization.getSongHtmlized(songChord.songData)"></div>
                            </dd>
                        </dl>
                    </div>
                </mat-card-content>
            </ng-container>
        </mat-card>
    </div>
</div>