<header>
    <nav>
        <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
            <h1>Guitar tablatures</h1>
            <div fxFlex class="text-right">
            </div>
        </div>
    </nav>
</header>