//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
* {
    font-family: 'Roboto', sans-serif;
}

a,
.cp {
    cursor: pointer;
}

.mat-card {
    background: #ffffff;
}

.app-content {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    margin: 0px 18px;
}

.section-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    padding: 1em 0 0;
}

.flex-spacer {
    flex-grow: 1;
}

.progress-spinner {
    height: 60px !important;
    margin: 2em auto;
}

snack-bar-container {
    background: #3f51b5 !important;
}

.mat-menu-content {
    background: #3f51b5;
}

.mat-menu-item,
.mat-menu-item .mat-icon {
    color: white;
    font-weight: 100;
}

.hero-actions {
    align-items: center;
    display: flex;
    padding-bottom: 1em;
}

.like-icon {
    color: #DC143C;
    cursor: pointer;
}

.mat-raised-button[disabled] {
    background: #bbb !important;
}

.mat-dialog-container {
    background: #3f51b5;
    color: white;
}

.mat-dialog-content {
    text-align: center;
    padding: 1em 24px !important;
}

.mat-dialog-title {
    text-align: center;
}

.hero-header-image {
    background-size: cover;
}

.mat-card-image {
    margin-bottom: -28px !important;
    border-top: 1px solid #eee;
}

.mat-list-avatar {
    height: 55px !important;
    width: 55px !important;
}

.text-right {
    text-align: right;
}